.red{
    color:rgb(251, 4, 4);
    background:rgb(255, 204, 204);
}
.blue{
    color:rgb(51, 102, 255);
    background:rgb(204, 217, 255);
}
.green{
    color:rgb(0, 153, 0);
    background:rgb(193, 240, 193);
}
.grey{
    color:rgb(102, 102, 102);
    background:rgb(204, 204, 204);
}